@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");

/* --------------------------------- header --------------------------------- */
.ButtonReturn {
  display: flex;
  /* justify-content: center; */
  margin: 10px;
  flex-direction: row;
}
.HeaderLogo img {
  width: 100px;
  /* display: flex; */
  margin: -50px auto 0 130px;
  position: absolute;
}

.FormContacts {
  margin: 10px;
  width: 365px;
  border-radius: 25px !important;
  background-color: white;
  border: 2px solid #ffc331 !important;
  text-align-last: center;
  margin-left: auto;
  margin-right: auto;
}

.TitleSettings {
  font-family: "Chewy";
  text-align: center;
  margin: 50px 10px 0px 10px;
}

.Container-Back-Contact {
  display: flex;
  margin: 10px;
  justify-content: left !important;
  width: 350px;
}

.Icon-Back-Contact {
  color: black;
}

.Header-Logo-Contacts img {
  width: 100px;
  /* display: flex; */
  margin: -100px auto 0 130px;
  position:absolute;
}
/* ---------------------------------- body ---------------------------------- */
.Contacts {
  background: rgb(161, 161, 221);
  background: linear-gradient(
    173deg,
    rgba(161, 161, 221, 1) 23%,
    rgba(251, 241, 235, 1) 100%
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* font-size: calc(10px + 2vmin); */
}
