@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

/* ---------------------------------- body ---------------------------------- */

.ContactProfil {
    background: rgb(161,161,221);
    background: linear-gradient(173deg, rgba(161,161,221,1) 23%, rgba(251,241,235,1) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.FontChewy {
    font-family: 'Chewy' !important;
}
.CardContent-ContactProfil {
    padding: 5px 0px 0px 0px !important;
}


.Card-ImageOfDog-ContactProfil {
    margin-right: auto;
    margin-left: auto;
    width: 100px !important;
    border-radius: 50%;
    height: 100px !important;
}

/* --------------------------------- header --------------------------------- */

.Container-Back-ContactProfil {
    display: flex;
    margin: 10px;
    width: 370px;
}


.Icon-Back-ContactProfil {
    padding: 6px;
    background: white;
    border-radius: 50px;
    cursor: pointer;
}

.Typo-Myprofil-ContactProfil {
    color: white;
    font-size: 25px !important;
    margin-left: 75px !important;
    font-family: 'Chewy' !important;
}

/* ---------------------- container profil des animaux ---------------------- */



.Container-DogsContactProfil {
    border: 2px solid rgb(255, 255, 255);
    margin: 10px auto 10px auto;
    padding: 10px;
    border-radius: 25px;
    width: 355px;
}


.Card-ProfilDog-ContactProfil{
    padding: 6px;
    background: white;
    border-radius: 50px;
    cursor: pointer;
    border-radius: 25px !important;
    padding: 10px 25px 10px 25px;
}

.Card-ProfilDog-ContactProfil img {
    margin-left: auto;
    margin-right: auto;
}



.ContainerCard-ContactDogs-ContactProfil {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}




/* ---------------------- container profil utilisateur ---------------------- */

.Container-User-ContactProfil {
    width: 100%;
    display: flex;
    justify-content: center !important;
}

.Card-User-ContactProfil {

    text-align: center;
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 25px !important;
    padding: 10px;
}

.ImageUser {
    margin-right: auto;
    margin-left: auto;
}


.Container-LocSettings-ContactProfil {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.Localisation-ContactProfil {
    display: flex;
    align-items: center;    
}
